node_modules
__pycache__
*.pyc
*.pyo
*.pyd
.Python
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
.pytest_cache/
.mypy_cache/
.venv
venv/
ENV/
dist
.git
.gitignore
README.md
*.md
.vscode
.idea
*.log
.DS_Store
instance/
migrations/__pycache__
data/database/*
